<div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-body">
                <h4 class="card-title">Progress bar</h4>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariavaluenow]="progressOne" aria-valuemin="0" aria-valuemax="100" [style.width]="progressOne + '%'"></div>
                </div>
                <br>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariavaluenow]="progressTwo" aria-valuemin="0" aria-valuemax="100" [style.width]="progressTwo + '%'"></div>
                </div>
              </div>
          </div>
      </div>
  </div>


  <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                  <app-incrementer (valueChange)="progressOne = $event" legend="progress blue" [progress]="progressOne"></app-incrementer>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <app-incrementer (valueChange)="progressTwo = $event" legend="progress green" [progress]="progressTwo"></app-incrementer>
                </div>
            </div>
        </div>
    </div>
